.flexStripes{
    display: flex;
    /* margin: -10px; */
    margin: -8px;
    width: 420px;
    height: 699px;
}

.lightStripe {
    width: 35px;
    height: 699px;
    background-color:#00263F;
}

.darkStripe {
    width: 35px;
    height: 699px;
    background-color:rgb(2,28,45);
}

#rb1 {
    width: 33px;
    height: 33px;
    background-color: rgb(233,70,89);
    border: solid;
    border-color: #00263F;
    border-width: 1px;
    margin-top: 629px;
}

#rb2 {
    width: 33px;
    height: 33px;
    background-color: rgb(233,70,89);
    border: solid;
    border-color: #00263F;
    border-width: 1px;
}

#rb3 {
    width: 33px;
    height: 33px;
    background-color: rgb(233,70,89);
    border: solid;
    border-color: #00263F;
    border-width: 1px;
    margin-top: 629px;
}

#rb4 {
    width: 33px;
    height: 33px;
    background-color: rgb(233,70,89);
    border: solid;
    border-color: #00263F;
    border-width: 1px;
}

#pb1 {
    width: 33px;
    height: 33px;
    background-color: rgb(174,129,255);
    border: solid;
    border-color: #00263F;
    border-width: 1px;
    margin-top: 455px;
}

#pb2 {
    width: 33px;
    height: 33px;
    background-color: rgb(174,129,255);
    border: solid;
    border-color: #00263F;
    border-width: 1px;
    margin-top: 420px;
}

#pb3 {
    width: 33px;
    height: 33px;
    background-color: rgb(174,129,255);
    border: solid;
    border-color: #00263F;
    border-width: 1px;
}

#pb4 {
    width: 33px;
    height: 33px;
    background-color: rgb(174,129,255);
    border: solid;
    border-color: #00263F;
    border-width: 1px;
    margin-top: 455px;
}

#pb5 {
    width: 33px;
    height: 33px;
    background-color: rgb(174,129,255);
    border: solid;
    border-color: #00263F;
    border-width: 1px;
    margin-top: 664px;
}

#pb6 {
    width: 33px;
    height: 33px;
    background-color: rgb(174,129,255);
    border: solid;
    border-color: #00263F;
    border-width: 1px;
    margin-top: 629px;

}

#pb7 {
    width: 33px;
    height: 33px;
    background-color: rgb(174,129,255);
    border: solid;
    border-color: #00263F;
    border-width: 1px;

}

#pb8 {
    width: 33px;
    height: 33px;
    background-color: rgb(174,129,255);
    border: solid;
    border-color: #00263F;
    border-width: 1px;
    margin-top: 664px;
}

.triangle {
    position: absolute;
    margin-top: 2px;
    margin-left: 2px;
    border-top: 10px solid white;
    border-right: 10px solid transparent;
}